<!DOCTYPE html>
<html>
    <head>
        <title> eror page </title>
        <style>
            .h1 {
                text-align: center;
                font-size: 180px;
                font-family: 'Catamaran', sans-serif;
                font-weight: 800;
                margin: 20px 15px;
            }
        </style>
    </head>
    <body>
        <center>
            <h1 > uh-oh </h1>
            <p class="zoom-area">
                <b> The page you are looking for may have been moved,deleted or possibly existed</b>
            </p>
            <section class="error-container">
                <span style= "font-size:200px">4</span>
                <span style= "font-size:200px" ><span class="screen-reader-text">0</span></span>
                <span style= "font-size:200px" >4</span>
            </section>
            <div class="link-container">
                <a target="_blank" href="https://www.silocreativo.com/en/creative-examples-404-error-css/" class="more-link">Visit the original article</a>
            </div>

        </center>
    </body>




</html>
