{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title> لیست دوره ها</title>
        <link rel="stylesheet" href={% static "styles/font.css" %}>
    </head>
    <body>
        <center>
            <table width="60%">
                {% for item in filter%}
                    {% if forloop.counter0|divisibleby:"2" %}
                        <tr>
                    {%endif%}
                            <td width="33%">
                                <div class="box" >
                                    <p>{{item.name}}</p>
                                    <p> time_in:{{item.time_in}}</p>
                                    <p>time_out:{{item.time_out}}</p>
                                    <p> {{item.description}}</P>

                                </div>
                            </td>
                    {% if forloop.counter|divisibleby:"2" %}
                        </tr>
                    {%endif%}
                {%endfor%}
            </table>
        </center>

           
    </body>




</html>
<style>
    .box{
        border: 5px solid ;
        background-color:#eee;
        padding:15px;
        box-shadow:2px 4px 6px rgba(0,0,0,0.6);
        margin-bottom:10px;
    }
</style>